# Nombre de la base de datos de MongoDB que utilizará task-manager.
MONGODB_NAME=

# Puerto en localhost para acceder al servicio de task-manager.
HOST_PORT=

# Clave secreta utilizada para firmar los tokens de acceso.
ACCESS_TOKEN_SECRET=
# Clave secreta utilizada para firmar los tokens de actualización.
REFRESH_TOKEN_SECRET=
# Duración de expiración de los tokens de acceso en segundos o una cadena de tiempo en el formato de vercel/ms (https://github.com/vercel/ms).
ACCESS_TOKEN_EXPIRATION=
